# .gitignore 참고하기에 미작성
# Tip! Prettier will follow rules specified in .gitignore if it exists in the same directory from 
# which it is run. You can also base your .prettierignore on .eslintignore (if you have one).

# Ignore artifacts:
build
coverage

